.contenedor1 {
    width: 100%;
    background: #F0EDE8;
}
header {
    width: 880px;
    height: 140px;
    margin: 0 auto;
}
#logo {
    margin-top: 30px;
}
#usuario-buscar {
    float: right;
    margin-top: 50px;
}
.texto1 {
    display: inline-block;
    font-family: "arial";
    font-size: 11px;
}
.texto2 {
    display: inline-block;
    font-family: "arial";
    font-size: 11px;
    margin-left: 20px;
}
.buscar {
    display: inline-block;
    width: 100px;
    background: #D5D1C6;
    text-align: center;
    font-family: "arial";
    font-size: 12px;
    padding: 5px;
    -webkit-border-radius: 16px;/*Safari, Chrome*/
-moz-border-radius: 16px;/*Firefox*/
border-radius: 16px;
}
.contenedor3 {
    width: 100%;
    height: 60px;
    background: #E2DDD7;
}
nav {
    width: 880px;
    height: 60px;
    margin: 0 auto;
}
nav ul {
    padding: 0;
    margin: 0 auto;
    width: 880px;
    height: 60px;
}
nav li {
    display: inline;
}
nav a {
    display: inline-block;
    width: 130px;
    text-decoration: none;
    text-align: center;
    color: black;
    line-height: 60px;
    font-family: "arial";
    font-size: 15px;
}
nav li a:hover {
    background: #FE4735;
    color: white;
}
nav li a.active {
    background: #FE4735;
    color: white;
}
.contenedor5 {
    width: 880px;
    margin: 0 auto;
}
.contenedor6 {
    width: 880px;
    margin: 0 auto;
    height: 240px;
    background: white;
}
.c6a {
    margin-right: 10px;
    width: 24.1%;
    height: 290px;
    float: left;
}
.imagen-c6a {
float: left;
margin: 10px;
}
.titulo-contenedor6 {
    display: inline-block;
    margin: 0;
    text-align: center;
    float: left;
    margin-top: 30px;
}
.texto-contenedor6 {
    clear: both;
    margin: 0 10px;
    text-align: justify;
}
.c6b{
    width: 24.1%;
    height: 290px;
    float: right;
}
.leer-mas {
    width: 70px;
    margin-left: 10px;
    margin-top: 10px;
}
.leer-mas a {
    text-decoration: none;
    background: #674F1E;
    color: white;
    padding: 5px;
    font-size: 11px;
    font-family: "arial";
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.leer-mas a:hover {
    background: #EAB23F;
    color: blue;
}
.titulo7 {
    text-align: center;
}
footer {
    width: 880px;
    margin: 0 auto;
}
#menu-footer {
    font-family: "arial";
    font-size: 10px;
}
#menu-footer li {
    list-style: none;
    display: inline;
}
#menu-footer li a {
    text-decoration: none;
    padding: 3px;
    border-right: 1px solid #4E0505;
}
#menu-footer li a:hover {
    color: #FD072A;
}
#menu-footer li a.activo {
    color: #0F2EEC;
}